<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicoControl</title>
    <link rel="stylesheet" href="/css/styleControl.css">
</head>
<body>
    <div class="Container">
        <!-- Menú lateral -->
        <%- include("navbarControl")%>
    
        <!-- Sección de perfil con edición -->
        <div class="Bienvenida">
            <h1>Contacto a errores</h1>
            
            <label>Motivo</label>
            <input type="text" placeholder="Ingresa el motivo como titulo">

            <label>Descripcion</label>
            <input type="text" value="Ingresa toda la descripcion">
    
           
    
            <button>Enviar</button>
        </div>
    </div>
    
    <footer>
        © 2025 MedicoControl | Contacto: info@medicocontrol.com | Tel: +52 123 456 7890
    </footer>
    
</body>
</html>