<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicoControl</title>
    <link rel="stylesheet" href="/css/styleControl.css">
</head>
<body>
    <div class="Container">
        <%- include("navbarControl")%>
        <div class="Consultas">
            <div class="Consulta">
                <div>
                <h2>Medico</h2>
                    <p>Especialidad: Pediatra </p>
                </div>
                <div class="Operaciones">
                    <button>Ver Historial</button>
                    <button>Ver Perfil</button>
                </div>
            </div>
            <div class="Consulta">
                <div>
                <h2>Medico</h2>
                    <p>Especialidad: Pediatra </p>
                </div>
                <div class="Operaciones">
                    <button>Ver Historial</button>
                    <button>Ver Perfil</button>
                </div>
            </div>
            <div class="Consulta">
                <div>
                <h2>Medico</h2>
                    <p>Especialidad: Pediatra </p>
                </div>
                <div class="Operaciones">
                    <button>Ver Historial</button>
                    <button>Ver Perfil</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <footer>
        © 2025 MedicoControl | Contacto: info@medicocontrol.com | Tel: +52 123 456 7890
    </footer>
    
</body>
</html>