<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quejas O Sugerencias</title>
    <link rel="stylesheet" href="/css/stylePacientes.css">
</head>
<body>
    <div class="Container">
        <%- include("navbarPaciente")%>
        <!-- Sección de perfil con edición -->
        <div class="Consulta">
            <h1>Quejas O Sugerencias</h1>
           <label>Motivo de Consulta</label>
            <input type="text" placeholder="Ingresa tu Motivo">
    
            <label>Sintomas</label>
            <input type="text" placeholder="Ingresa tus sintomas">
    
            <label>Alergias</label>
            <input type="text" placeholder="Ingresa tus alergias">

            <label>Cirugias previas</label>
            <input type="text" placeholder="Ingresa si has tenido cirugias previas y cuales">

            <label>Hospitalizaciones previas</label>
            <input type="text" placeholder="Ingresa si has tenido hospitalizaciones previas y cuales">
    
            <label>Consumo de tabaco</label>
            <select>
                <option>Si</option>
                <option>No</option>
            </select>

            <label>Consumo de Alcohol</label>
            <select>
                <option>Si</option>
                <option>No</option>
            </select>
    
            <label>Dirección</label>
            <input type="text" value="Av. Reforma 123, CDMX">
    
            <button>Guardar Cambios</button>
        </div>
    </div>
    

</body>
</html>