<nav class="Menu">
    <img class="perfil" src="https://imgs.search.brave.com/g8Da65YQdfWRs3uO8TyXV3umf5kTvCJABaOjIiaVtFM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTE5/MTE5MzE2OS9lcy9m/b3RvL3JldHJhdG8t/ZGUtdW5hLWpvdmVu/LXNlZ3VyYS1kZS1z/JUMzJUFELW1pc21h/LWVuLWVsLXBhcnF1/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9Zm5LeHRSdG1N/UnZfLWlKWWVnaVJG/ZjZsOWJrejlMMkVO/MXFvS3pqWDNhcz0">
    <h1>Nombre Pacietne</h1>
    <a href="/indexPaciente" class="">Inicio</a>
    <a href="/HistorialMedico" class="">Historial Medico</a>
    <a href="/ContactoPaciente" class="">Contacto</a>
</nav>